.land-container{
    height: 100vh;
    width: 100%;
    background-color: var(--bg);
    padding: 1.5rem;
}

.main-bar{
    background-color: var(--main-top-bar);
    border-radius: 15px;
    height: 140px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.main-tabs{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3rem;
}

.main-tabs div{
    background-color: var(--search-nav);
    padding: 0.5rem 5rem 0.5rem 5rem;
    border-radius: 10px;
    font-size: var(--normal-font-size);
    color:var(--nav-text);
    cursor: pointer;
}
.main-tabs div:hover{
    background-color: var(--nav-hover);
}

.main-tabs{
    display: flex;
    width: 110%;
    justify-content: space-around;
    margin-top: 5rem;
    position: relative;
    top: 21.5%;
}

.main-tabs div{
    background-color: var(--search-nav);
    padding: 0.5rem 4rem 0.5rem 4rem;
    border-radius: 10px;
    font-size: smaller;
    color:var(--nav-text);
    cursor: pointer;
}

.main-tabs div h2{
    margin-left: 1em;
}


.main-tabs div:hover{
    background-color: var(--nav-hover);
}

.taskbar{
    height: calc(100vh - 45vh);
    width: 100%;
    background-color: var(--main-top-bar);
    margin-top: 3rem;
    border-radius: 15px;
    padding: 2rem;
    overflow-y: scroll;
}
.taskbar>h3{
    color: var(--tasklist-text);
    margin-top: -1rem;
}

.task-list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.task-list>div{
    display: flex;
}

  .taskbar::-webkit-scrollbar {
    width: 12px; 
  }
  
  .taskbar::-webkit-scrollbar-track {
    background-color: var(--main-top-bar);
  }
  
  .taskbar::-webkit-scrollbar-thumb {
    background-color: var(--search-nav); 
    border-radius: 6px; 
  }

  #desc::-webkit-scrollbar {
    width: 7px; 
  }
  
  #desc::-webkit-scrollbar-track {
    background-color: var(--main-top-bar);
  }
  
  #desc::-webkit-scrollbar-thumb {
    background-color: var(--search-nav); 
    border-radius: 6px; 
  }
  
  .form{
      margin-top: 2em;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    
    #desc{
      resize: none;
      height: 75px;
      font-family: 'Poppins';
    }

    .box::placeholder {
      color: rgb(92, 83, 83);
    }

  .box{
    padding: 12px;
    width: 80%;
    margin-bottom: 10px;
    outline: none;
    border-radius: none;
}

.btn{
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
    width: 80%;
}

#submit{
   width: 30rem;
   height: 2.5rem;
   border: none;
   /* background-color: #e1e5f9; */
   background-color: #3D5BF5;
   box-shadow: none;
   color: #C0CFFD;
   border-radius: 2px;
   font-weight: 700;
}

#cancel{
    width: 20rem;
    height: 2.5rem;
    border: none;
    background-color: #F8CFCF;
    color: #BA2828;
    font-weight: 700;
    box-shadow: none;
}

#cancel:hover{
    cursor:pointer;
}

.side{
    display: flex;
    width: 55%;

}



.side img{
    width: 450px;
    bottom: 4rem;
}

  input, textarea {
    width: 50%;
    border: none;
    border-radius: none;
    background-color: #C0CFFD;
  }


  @media (max-width: 1250px) {
    .side img {
      display: none;
    }
  
    .box {
      width: 90%;
    }

    .btn{
      display: flex;
      gap: 1rem;
      margin-top: .5rem;
      width: 90%;
  }
  
  #submit{
     width: 31rem;
  }
  
  #cancel{
      width: 25rem;
  }

  .main-tabs{
    font-size: smaller;
  }
}

